/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Poppinsa, sans-serif;
    font-size: 22px;
}

body {
    display: flex;
    background: rgb(241, 246, 249);
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 150vh;
    padding: 0em;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color:rgb(20, 39, 78);
    box-shadow: 0 20px 20px rgb(42, 42, 42);
}

.sidebar:hover {
    width: 250px;
    transition: 0.5s;
}

.logo {
    height: 130px;
    padding: 15px;
}

.main {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.main li {
    padding: 1rem;
    margin-left: 36px;
    border: 8px;
    transition: all 0.5s ease-in-out;
    gap: rem;
}

.main li:hover {
    border-radius: 5%;
    background: #e0e0e058;
}

.main a {
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.main a span {
    overflow: hidden;
}

.main a i {
    font-size: 1.8rem;
}

.college-logo {
    display: inline-block;
    align-items: center;
}

/* /-------first-------/ */
.first{
    padding: 10px;
    align-items: center;
}

.first-half{
    font-family: Helvetica, sans-serif;
    width: 100%;
    font-size: larger;
    display: flex;
}

.info {
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 70%;
}

.info .box1 {
    width: 1650px;
    height: 40%;
    /* /margin: 10px;/ */
    background: #fff;
    font-size: 22px;
    border-radius: 20px;
    padding: 10px;
    
}
.info .box2 {
    width: 1650px;
    height: 60%;
    /* /margin: 10px;/ */
    font-size: 19px;
    margin-top: 200px;
    margin-left: -1650px;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    
}
.info .box3 {
    width: 1650px;
    height: 41%;
    /* /margin: 10px;/ */
    font-size: 22px;
    margin-top: 390px;
    margin-left: -1650px;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    
}

.info .box4 {
    width: 1650px;
    height: 40%;
   /* /margin: 10px;/ */
    font-size: 22px;
    margin-top: 595px;
    margin-left: -1650px;
    background: #fff;
    
    border-radius: 20px;
    padding: 10px;
    
}

.info .box5 {
    width: 1650px;
    height: 29%;
   /* /margin: 10px;/ */
    font-size: 22px;
    margin-top: 810px;
    margin-left: -1650px;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    
}

h3 {
    color: rgb(20, 39, 78);
    overflow: hidden;
    margin-bottom: 25px;
    text-transform: capitalize;
}

input {
    border: 1px solid black;
    margin-right: 17px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: rgb(57, 72, 103);
}

.container1 {
    position: relative;
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}
  
.bottom-left {
    position: absolute;
    font-size: 23px;
    color: rgb(20, 39, 78);
    height: 55px;
    width: 125px;
    bottom: -200px; 
    margin-left: -1000px;
    box-shadow: 0 20px 35px rgb(65, 64, 64);
}

.container2 {
    position: relative;
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}
 
.bottom-right{
    position: absolute;
    font-size: 23px;
    color: rgb(20, 39, 78);
    height: 55px;
    width: 125px;
    bottom: -149px; 
    margin-left: 1000px;
    box-shadow: 0 20px 35px rgb(65, 64, 64);
}