* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;

}

body {
    display: flex;
    background: rgb(241, 246, 249);
    background-image: url("my\ first\ design.jpg");
    background-size: cover;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 99vh;
    padding: 0 0.8rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color:rgb(20, 39, 78);
    box-shadow: 0 20px 20px rgb(42, 42, 42);
}

.sidebar:hover {
    width: 240px;
    transition: 0.5s;
}

.logo {
    height: 50px;
    padding: 12px;
}

.main {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.main li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.main li:hover {
    background: #e0e0e058;
}

.main a {
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.main a span {
    overflow: hidden;
}

.main a i {
    font-size: 1.6rem;
}

.college-logo {
    display: inline-block;
    align-items: center;
}


/*-------first-------*/
.first{
    padding: 10px;
    align-items: center;
}

.first-half{
    font-family: Helvetica, sans-serif;
    width: 100%;
    font-size: larger;
    display: flex;
}

.info {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 70%;
}

.box1{
    display: flex;
    margin-top: 10px;
}

.info .box {
    width: 290px;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgb(65, 64, 64);
}


.info .box h1{
    font-family: Helvetica, sans-serif;
    color: rgb(20, 39, 78);
    overflow: hidden;
}

.info .box h1:hover {
    transition: linear 0.5s;
    font-size: xx-large;
}

.info .box h2 {
    font-family: Helvetica, sans-serif;
    margin: 20px;
    text-transform: capitalize;
    color: rgb(155, 164, 180);
}

input {
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: rgb(57, 72, 103);

}

.container {
    position: relative;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottom-center {
    position: absolute;
    font-size: 23px;
    color: rgb(20, 39, 78);
    height: 55px;
    width: 125px;
    bottom: 0px;
    box-shadow: 0 20px 35px rgb(65, 64, 64);
}