body {
    font-family:cursive , 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #ebebeb;
    color: #755151;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #a05252;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700;
}


.message-line {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    font-size: 1.2em;
    overflow: hidden;
}

.message-line p {
    white-space: nowrap;
    display: inline-block;
    animation: moveMessage 10s linear infinite;
}

@keyframes moveMessage {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


.hero {
    background: url('example.jpg') center/cover no-repeat;
    color: #0081fa8a;
    padding: 80px 0;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.hero h2 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

.featured-companies {
    padding: 80px 0;
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards;
}

.company-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.company {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.how-it-works {
    background-color: #f4f4f4;
    padding: 80px 0;
    text-align: center;
}

footer {
    background-color: #99a2a8;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
